body {
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;

}

header {
    margin: 40px 40px 0 40px;
}

.header-titulo {
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 2em;
    color: #0A3871;
}

main {
    margin: 0 auto;
}

.recebe-texto {
    margin-left: 2em;
    padding: 80px;
}

.input-mensagem {
    width: 680px;
    height: 288px;
    /* padding: 1em 0.5em; */
    background: #F3F5FC;
    border: none;
    font-size: 2em;
    color: #0A3871;
    /* font-size: 32px; */
}

.input-mensagem::placeholder {
    color: #0A3871;
    font-size: 1em;
}

.input-mensagem:focus {
    outline: none;
    border: 1px solid #0A3871;
}

.field-submit {
    margin-top: 10%;
}

.field-submit legend {
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
    color: #495057;
    opacity: 0.8;
    vertical-align: middle;
}

.botao-criptografar {
    border-radius: 24px;
    padding: 24px;
    width: 328px;
    height: 67px;
    color: #D8DFE8;
    background: #0A3871;
    border: none;
}

.botao-descriptografar {
    border-radius: 24px;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}
.exibe-texto {
    width: 400px;
    border-radius: 32px;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 32px;
    padding: 10% 32px 0;
    color: #343A40;
}

.exibe-texto h2 {
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    padding: 0 1.5em 1em;
    text-align: center;
}


.exibe-texto p {
    margin-top: 16px;
    color: #495057;
    padding: 0 1.5em;
    margin-bottom: 10%;
}
